<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <link rel="stylesheet" href="../../css/app/navigator.css">
<script src="../../js/lib/angular.min.js"></script>
<link href="../../css/lib/bootstrap.min.css" rel="stylesheet">
<link href="../../css/lib/bootstrap-theme.css" rel="stylesheet">
<script src="../../js/adminController/changePassword.js"></script>
  
 
  <title>Change Password</title>
</head>

<body ng-app="changePassword">
  <div class="topnav">
    <a href="admin.html">Home</a>
    <a href="ManageExaminer.html">Manage Examiner</a>
    <a href="PendingApprovals.html">Pending Approvals</a>
    <a class="active" href="ChangePassword.html">Change Password</a>
  </div>
  <div ng-controller="password">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div align="center"><h1>Change Password</h1></div> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p class="text-center" align="center">Use the form below to change your password</p>
        <form method="post" id="passwordForm">
          <input type="password" class="input-lg form-control" ng-model="password1" placeholder="New Password" >
          <div class="row">
            <div class="col-sm-6">
             
              <br>
             
            </div>
            <div class="col-sm-6">
              <br>
            </div>
          </div>
          <input type="password" class="input-lg form-control" ng-model="password2" placeholder="Repeat Password" >
          <div class="row">
            <div class="col-sm-12">
            </div>
          </div>
          <br>
          <input type="button" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password" ng-click="changePass()">
        </form>
      </div>
    </div>
  </div>
  </div>
</body>

</html>